* {
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0 auto;
    background: #3B3F45;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 534px;
    position: relative;
    margin: 0 auto;
}
.header {
    text-align: center;
    background: #4A4F56;
}
.h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FF8984;
    }
.go {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF8984;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #77778e;
    font-size: 18px;
    transition: 0.2s;
}
li:nth-child(odd) {
    background: #848599;
}
li:hover {
    background: #5e6072;
}
label:checked {
    background: #ff8984;
    color: #fff;
    text-decoration: line-through;
}

label {
    width: 119px;
    height: 21px;
    left: 176px;
    top: 113px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.coment {
    width: 175px;
    height: 16px;
    left: 298px;
    top: 114px;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    color: #fff;
} 
.footer {
    align-items: center;
    text-align: center;
    color: #FF8984;
    background: #4A4F56;
}